<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<include resource="org/springframework/boot/logging/logback/file-appender.xml" />-->
    <logger name="org.springframework.web" level="INFO"/>
    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/program/wxc/log/wxclient.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>/program/wxc/log/wxclient.log.%d{yyyy-MM-dd}</FileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
        <prudent>true</prudent>
    </appender>
    <root level="INFO">
        <appender-ref ref="dailyRollingFileAppender" />
    </root>
</configuration>